body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 20px 50px;

    position: sticky;
    top: 0;
    z-index: 999;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 30px;
}

.logo-storePhone {
    display: flex;
    align-items: center;
}

.logo-storePhone h4 {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.logo-storePhone span {
    color: rgb(255, 255, 255);
}

.logo-storePhone img {
    margin-bottom: 5;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;

}

.nav-menu a {
    font-size: 18px;
    margin-right: 70px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: rgb(193, 180, 180);
    transform: scale(1.1);
    font-size: 17px;
}

.content-1 {
    margin-top: 180px;
    line-height: 20px;

}

.content-1 h1,
p {
    font-style: initial;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    text-shadow: 10px 20px 20px rgba(0, 0, 0, 0.178);
}

.content-1 span {
    color: rgb(87, 83, 83);
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 30px;
}

.content-2 img {
    width: 400px;
    height: 350px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.product-card1,
.product-card2,
.product-card3 {
    line-height: 5px;
}

.product-card1,
.product-card2,
.product-card3 h4 {
    text-align: center;
}
