body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 20px 50px;

    position: sticky;
    top: 0;
    z-index: 999;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 30px;
}

.logo-storePhone {
    display: flex;
    align-items: center;
}

.logo-storePhone h4 {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.logo-storePhone span {
    color: rgb(255, 255, 255);
}

.logo-storePhone img {
    margin-bottom: 5;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;

}

.nav-menu a {
    font-size: 18px;
    margin-right: 70px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: rgb(193, 180, 180);
    transform: scale(1.1);
    font-size: 17px;
}

#contact {
    padding: 50px;
    background-color: #f4f4f4;
    text-align: center;
}

.contact h2 {
    text-align: center;
    margin-top: 50px;
}

.container {
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 25px;
    text-align: center;
    margin-top: 100px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: auto;
    width: auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
