body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
}

.navbar {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 20px 50px;

    position: sticky;
    top: 0;
    z-index: 999;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 30px;
}

.logo-storePhone {
    display: flex;
    align-items: center;
}

.logo-storePhone h4 {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.logo-storePhone span {
    color: rgb(255, 255, 255);
}

.logo-storePhone img {
    margin-bottom: 5;
    display: flex;
    align-items: center;
    width: 60px;
    height: 60px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;

}

.nav-menu a {
    font-size: 18px;
    margin-right: 70px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: rgb(193, 180, 180);
    transform: scale(1.1);
    font-size: 17px;
}

.Promosi {
    display: flex;
    justify-content: center;
}

.Promosi img {
    width: 70%;
    transition: all 0.3s ease;
}

.Promosi img:hover {
    transform: scale(1.1);
    font-size: 69%;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.product-card {
    width: 280px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 25px;
    text-align: center;
    margin-top: 100px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

.product-card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0;
}

.variant {
    display: inline-block;
    font-size: 14px;
    color: #5b7fa6;
    /* Mist Blue tone */
    margin-bottom: 10px;
}

.price {
    font-size: 17px;
    font-weight: 700;
    margin: 12px 0;
}

.btn-buy {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 12px;
    background: #0071e3;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-buy:hover {
    background: #005bb5;
}
